body {
  color: blue;
  font-size: 25px;
}

.background {
  background-image: url(https://external-preview.redd.it/XSlkRi5Pdl2AauVKvlPd5lu9fxAhU9odwBnDTvbulyw.jpg?auto=webp&s=73242fe8e3132c88f86240e43b7b5de1ef030ca7);
  background-position: center;
  background-color: white;
  height: 500px;
}
.main-header {
  color: black;
}
.header {
  margin-top: 60px auto;
  border: 3px solid blue;
  padding: 50px 25px;
  width: 50vh;
}
.Blog-1 {
  color: brown;
}
.Blog-2 {
  color: blue;
}
.Blog-3 {
  color: rgb(245, 9, 245);
}
